// .button {
//     z-index: 1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     max-width: 180px;
//     height: 34px;
//     border-radius: 17px;
//     border: none;
//     background: #fff;
//     padding: 9px 14px;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 9px; 
//     text-transform: uppercase;
//     text-align: center;
// }

.button {
    color: #090909;
    width: 150px;
    padding: 7px 20px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    background: #fff;
    border: none;
    transition: all .3s;
    box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #fff;
    cursor: pointer;
    // box-shadow:  15px 15px 30px #d9d9d9,
    //          -15px -15px 30px #ffffff;

    &_margin-center {
        display: block;
        margin: 0 auto;
    }
   }
   
   
   .button:active {
    color: $text-color;
    box-shadow: inset 4px 4px 12px #d9d9d9,
                inset -4px -4px 12px #ffffff;
    // background: linear-gradient(145deg, #e6e6e6, #ffffff);
    // box-shadow:  15px 15px 30px #d9d9d9,
    //             -15px -15px 30px #ffffff;
   }