.catalog {
    padding: 50px 0;
    width: 100%;
    min-height: 600px;
    background-color: #fff;

    &__products {
        margin-top: 50px;
    }

    &__items {
        margin-top: 50px;
        display: grid;
        grid-template: minmax(400px,auto) / repeat(3, 1fr);
        grid-auto-rows: minmax(400px,auto);
        gap: 30px;
        justify-items: center;
    }

    &__item {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        min-height: 400px;
        padding: 18px;
        border-radius: 50px;
        background: #ffffff;
        box-shadow:  13px 13px 25px #d9d9d9,
        -13px -13px 25px #ffffff;
        transition: all 1s;
        &:hover {
            transform: scale(1.05);
        }
    }

    &__product-link {
        // color: $text-color;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;    
        :hover {
            color: $text-color;
            cursor: pointer;
        }
    }

    &__img {
        display: none;
        height: 250px;
        width: auto;
        margin-bottom: 15px;
        &_active {
            display: block;
        }
    }

    &__select {
        display: flex;
        margin-top: 25px;
    }

    &__selector {
        display: flex;
        align-items: center;
        margin-top: 25px;
    }

    &__points {
        margin-left: 20px;
        height: 30px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        background: #ffffff;
        box-shadow:  3px 3px 6px #d9d9d9,
                    -3px -3px 6px #ffffff;
    }

    &__point {
        margin-top: 20px;

        span {
            height: 5px;
            width: 5px;
        }

        &_white {
            background: #ffffff;
        }
        &_black {
            background: #000000;
            color: #fff;
        }
        &_grafit {
            background: #333333;
            color: #fff;
        }
        &_grey {
            background: #8F8F8F;
            color: #fff;
        }
        &_haki {
            background: #999966;
            color: #fff;
        }
        &_jeans {
            background: #333366;
            color: #fff;
        }
        &_bright-blue {
            background: #3333CC;
            color: #fff;
        }
        &_cobalt {
            background: #000066;
            color: #fff;
        }
    }

    &__colors {
        display: grid;
        grid-template: 30px / repeat(4, 1fr);
        grid-auto-rows: 30px;
        row-gap: 10px;
        column-gap: 20px;
        justify-content: space-between;
        margin: 0 0 0 10px;
        list-style-type: none;
        padding: 0;
    }

    &__color {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow:  3px 3px 5px #d9d9d9,
                    -3px -3px 5px #ffffff;
        
        &_white {
            background: #ffffff;
        }
        &_black {
            background: #000000;
        }
        &_grafit {
            background: #333333;
        }
        &_grey {
            background: #8F8F8F;
        }
        &_haki {
            background: #999966;
        }
        &_jeans {
            background: #333366;
        }
        &_bright-blue {
            background: #3333CC;
        }
        &_cobalt {
            background: #000066;
        }
    }

    &__offer {
        margin-top: 25px;
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        margin: 10px 0;
        color: $text-color;
    }
}